//====================
// import
// ===================
@import ("smart-grid.styl");
@import ("settings.styl")

//====================
// code
// ===================

.first-header
  background-color: $lightblue
  font-family: "OpenSans-Bold"
  min-height: 45px
  display: flex
  align-items: center
  color #fff
  &__menu
    flex-basis: 60%
    ul
      display: flex
      justify-content: space-around
      li
        position relative
        padding: 10px 50px
        &:hover
          for x in 1 2 3 4
            &:nth-child({x})
              &:after
                border-color #000
          a
            color #000
        for x in 1 2 3 4
          &:nth-child({x})
            &:after
              content ""
              border-right 1px solid #fff
              position absolute
              height: 20px
              right 0
        a
          color #fff
  &__logo
    flex-basis 40%
    margin-left: 25px


.second-header
  background-color: #ffffff
  min-height: 110px
  color $darkGray
  display: flex
  text-transform uppercase
  font-family: "OpenSans-Bold"
  align-items: center
  &__logo
    flex-basis: 50%
    font-size: 40px
    margin-left: 150px
  &__nav
    flex-basis: 50%
    ul
      display: flex
      justify-content: space-around
      li
        a
          color $darkGray

.swiper-container
  width 100%
  max-width: 1280px
  max-height: 720px
  margin 0 auto
  .swiper-slide
    img
      width 100%

main
  min-height: 2000px
  background-color: #ffffff
  text-align: center
  h1
    margin 0
    padding 50px 0
    text-transform uppercase
    color $darkGray
  .items
    row-flex()
    col-12()
    max-width: 1280px
    margin 0 auto
    text-align: center
    .itemBox
      col-3()
      row-flex()
      flex-flow: column wrap
      border 1px solid #333
      padding 10px 5px
      margin: 20px 15px
      position relative
      cursor: pointer
      .itemImg
        overflow: hidden
      .itemTitle
        margin 20px 0
        font-size: 16px
        color $darkGray
      .itemPrice
        color $lemonGreen
        font-size 20px
        line-height: 22px
        margin-bottom: 10px

.offerNow
  background-image url('../img/bgoffer.jpg')
  background-position -450px -750px
  display: flex
  align-items: center
  justify-content: center
  flex-flow: column wrap
  min-height: 250px
  overflow hidden
  h1
    padding 5px
    color #ffffff
  h3
    color #fff
    text-transform uppercase
    font-size: 25px
    margin 0


.discount
  min-height: 200px
  background-color: #fff1f3
  display: flex
  flex-flow: column wrap
  align-items: center
  h1
    padding 25px

.flip-clock-wrapper
  display: flex
  justify-content: center
  margin 0 0 50px 0

.contact-form
  // background-color: #fff
  background-image url('http://www.wickedlyamazing.com/wp-content/uploads/2017/01/img-fashion.png')
  background-repeat no-repeat
  background-size: cover
  min-height: 450px
  display: flex
  align-items: center
  .form-container
    margin: 0 auto
    border: 1px solid #f2e3d2;
    background: #c9b7a2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2e3d2), to(#c9b7a2));
    background: -webkit-linear-gradient(top, #f2e3d2, #c9b7a2);
    border-radius: 18px;
    box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
    font-family: 'Helvetica Neue',Helvetica,sans-serif;
    text-decoration: none;
    vertical-align: middle;
    min-width:300px;
    padding:20px;
    width:350px;
    .form-title
      margin-bottom: 5px;
      color: #725129;
      text-shadow: #fdf2e4 0 1px 0;
    .submit-container
      margin:8px 0;
      text-align:right;
      .submit-button
        border: 1px solid #424242;
        background: #969696;
        background: -webkit-linear-gradient(top, #ffffff, #969696);
        border-radius: 4px;
        box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
        text-shadow: #e3e3e3 0 1px 0;
        color: #3a3b39;
        font-family: helvetica, serif;
        padding: 8.5px 18px;
        font-size: 14px;
        text-decoration: none;
        vertical-align: middle;
        cursor pointer
        &:hover
          border: 1px solid #447314;
          background: #6aa436;
    h2
      text-shadow: #fdf2e4 0 1px 0;
      font-size:18px;
      margin: 0 0 10px 0;
      font-weight:bold;
      text-align:center;
    .form-field
      border: 1px solid #c9b7a2;
      background: #e4d5c3;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #c9b7a2;
      box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 1px 1px;
      padding:8px;
      margin-bottom:20px;
      width:280px;
      &:focus
        background: #fff;
        color: #725129;


.about
  min-height: 300px
  background-color: #fff1f3


footer
  min-height: 400px
  background-color: $darkenblue
  .first-footer
    display: flex
    justify-content: space-around
    align-items: center
    min-height: 300px
    nav
      text-transform uppercase  
      h3
        margin 10px 0
      ul
        li
          padding 10px 0
          a
            padding 10px 0
  .second-footer
    min-height: 100px
    background-color: $footerBlue
    color #000
    display: flex
    justify-content: center
    align-items: center
    h3
      margin 0
      a
        color #000